body {
    font-family: 'Dosis', sans-serif;
    background-color: #dfe9e2;
}

h1 {
    text-align: center;
    margin: 3.78% auto 3% auto;
    font-family: 'Dosis', sans-serif;
    font-size: 4rem;
    line-height: 1;
    padding-bottom: 0;
    font-weight: 700;
    letter-spacing: .5rem;
    color: #8cdfa2;
}

hr {
    border: dotted #26cc52 4px;
    border-bottom: none;
    width: 54%;
    margin: 1% auto;
}

.title {
    padding-bottom: 1%;
}

.tab {
    font-family: 'Dosis', sans-serif;
    font-size: 1.14rem;
    letter-spacing: .15rem;
    color: #5fa472;
}

.tab:hover {
    color: #077725;
    font-weight: 550;
}

.ericface {
    height: auto;
    border-radius: 50%;
    max-width: 22%;
    float: left;
    margin-right: 30px;
    /* padding: 10px 0; */
}

@media (max-width: 1200px) {
    .ericface {
        max-width: 35%;
    }
}

@media (max-width: 600px) {
    .ericface {
        max-width: 50%;
    }
}

.about-description-row {
    width: 50%;
    margin: 5.5% auto 5.5% auto;
    border-radius: 50%;
    text-align: left;
    font-size: 1rem;
    /* padding-bottom: 2%; */
}

.say-hi {
    padding-left: 25.35%;
}

.footer {
    margin-left: 25%;
    padding: 2% 0 2%;
    text-align: left;
    font-size: 2rem;
    color: #5fa472;
}

.copyright {
    /* text-align: right; */
    color: #5fa472;
    font-size: 1.25rem;
    padding: 20px 0;
    /* margin-right: 15%; */
    display: inline-block;
    margin-left: 47.5%;
}

/* .btn {
    border: none;
    padding: 0;
    padding-bottom: 0.218rem;
} */

.icon-cog {
    color: #5fa472;
}

.icon-cog:hover {
    color: #317242;
}

.location {
    text-decoration: none;
    color: #5fa472;
}

.location:visited {
    color: #077725;
}